@import url("https://fonts.googleapis.com/css2?family=Poppins&family=VT323&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Inter", sans-serif;
}

/* category */

.navbarhover {
  @apply hover:bg-blue-400 rounded-md hover:px-1 hover:text-black -mx-1;
}

.parent-container {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For WebKit browsers (Chrome, Safari) */
.parent-container::-webkit-scrollbar {
  width: 8px;
}

.parent-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.parent-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* registration from */

.ant-input::placeholder {
  color: #1f2937;
}
.inputBorder.ant-input {
  border-bottom: 1px solid #1f2937 !important;
  border-radius: 0%;
}

.ant-input-password {
  border-bottom: 1px solid #1f2937 !important;
  border-radius: 0%;
}

.react-tel-input .form-control,
.flag-dropdown {
  border: none !important;
}

.react-tel-input .form-control {
  @apply lg:!-ml-52;
}
.react-tel-input {
  @apply !border-b !border-gray-800 -mt-3;
}
/* product filter component */
.ant-select-item-option-content {
  @apply bg-gray-200 p-2 rounded-lg w-full;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-select-dropdown
  .ant-select-item-option-selected {
  @apply bg-transparent;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-select-dropdown
  .ant-select-item-option-selected
  .ant-select-item-option-content {
  @apply bg-gray-800 text-white rounded-lg;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-slider
  .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #1f2937;
}

/* sider */
:where(.css-dev-only-do-not-override-1m62vyb).ant-slider:hover
  .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #1f2937;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-slider
  .ant-slider-handle:focus::after {
  background-color: #1f2937;
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-slider:hover
  .ant-slider-rail {
  background-color: rgb(41, 0, 0) !important;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-slider .ant-slider-rail {
  background-color: rgb(41, 0, 0) !important;
}

/* list view */

.productImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

/* grid view */

.shadow {
  box-shadow: 10px 13px 9px -6px rgba(0, 0, 0, 0.55);
}
